<%- include('sections/doc-top'); %> <%- include('sections/header'); %>
<main>
  <div class="container container-fluid container-sm container-md container-lg container-xl container-xxl">
    <section>
      <h1>Home</h1>
      <% for (var promo of promos) { %>
          <%- include('line', {item: promo}); %>
        <% } %>
    </section>
  </div>
</main>
<%- include('sections/footer'); %> <%- include('sections/doc-bottom'); %>
