<%- include('sections/doc-top'); %>
  <header class="portfolio-bg">
    <div class="container">
      <%-include('sections/icons-wrapper');%>
      <div class="portfolio-block">
        <h1 class="padding-bottom">
          Find out how we can <span>save your time</span> in Backpacking in
          Europe
        </h1>
        <p class="offer-text padding-bottom">
          Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Ac amet id eget scelerisque amet<br> etiam in sit commodo. 
          Pretium ut duis orci<br> pulvinar pretium id consectetur. 
        </p>
        <button class="offer-button">Explore</button>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <section>
        <div class="row">
          <% for (var promo of promos) { %>
            <div class="col-md-4">
              <%- include('item', {item: promo}); %>
            </div>
            <% } %>
        </div>
      </section>
      <section>
        <h2>Making your facility known is our priority</h2>
        <div class="row">
          <% for (var priority of priorities) { %>
            <div class="col-md-3">
              <%- include('item', {item: priority}); %>
            </div>
            <% } %>
      </section>
      <section>
        <div class="row">
          <div class="col-flex-2 col">
            <div class="item managers-block">
              <h2>Join the community campervan sites managers.</h2>
              <p>
                Discover all the equibbed areas in Italy. Find the shop with
                all the services for you and your camper.
              </p>
              <button class="managers-button">Start</button>
            </div>
          </div>
          <% for (var manager of managers) { %>
            <div class="col managers-margin">
              <%- include('item', {item: manager}); %>
            </div>
            <% } %>
        </div>
      </section>
      <section>
        <h2>Our Advantages</h2>
        <div class="row">
          <% for (var advantage of advantages) { %>
            <div class="col-md-4 advantages">
              <%- include('item', {item: advantage}); %>
            </div>
            <% } %>
      </section>
    </div>
  </main>

  <%- include('sections/footer'); %>
  <%- include('sections/doc-bottom'); %>